<div class="container">
  <h1>Select Location</h1>
  <div class="dropdown-group">
    <!-- Country Dropdown -->
    <label for="country-select">Select a Country:</label>
    <select id="country-select" [(ngModel)]="selectedCountryId" (change)="getStates($event)">
      <option value="" disabled>Select Country</option>
      <option *ngFor="let country of countries" [value]="country.id">
        {{ country.name }}
      </option>
    </select>

    <!-- State Dropdown -->
    <label for="state-select">Select a State:</label>
    <select id="state-select" [(ngModel)]="selectedStateId" (change)="getCities($event)" [disabled]="!states.length">
      <option value="" disabled>Select State</option>
      <option *ngFor="let state of states" [value]="state.id">
        {{ state.name }}
      </option>
    </select>

    <!-- City Dropdown -->
    <label for="city-select">Select a City:</label>
    <select id="city-select" [(ngModel)]="selectedCityId" [disabled]="!cities.length">
      <option value="" disabled>Select City</option>
      <option *ngFor="let city of cities" [value]="city.id">
        {{ city.name }}
      </option>
    </select>
  </div>
</div>